{{ with $.Site.Data.homepage.data.meeting }}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">

      <div class="row center hide-on-med-and-down" style="margin-top: 150px;">
        <img src="/img/logos/qecamp_logo_02.png" class="responsive-img">
      </div>

      <div class="row center hide-on-med-and-down">
        <h1 style="text-shadow: 5px 5px 15px black;margin-bottom: 30px">
          <strong>{{ .start_date }}</strong>
        </h1>

        <h4 style="text-shadow: 5px 5px 15px black; margin-bottom: 50px">
          {{ .location }}
        </h4>
      </div>

      <div class="row center hide-on-med-and-up">
        <div class="col s12">
          <h3 class="header" style="text-shadow: 5px 5px 15px black;margin-bottom: 30px">
            <strong>{{ .start_date }}</strong>
          </h3>

          <h5 style="text-shadow: 5px 5px 15px black; margin-bottom: 50px">
            {{ .location }}
          </h5>
        </div>
      </div>


      <div class="hide-on-med-and-down">
        <div class="row center">
          <a href="" id="download-button" class="btn-large waves-effect waves-light red darken-2 z-depth-4">
            <i class="material-icons left">star</i>
            BECAME SPONSOR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </div>

        <div class="row center">
          <a href="/submission/" id="download-button" class="btn-large waves-effect waves-light red darken-2 z-depth-4">
            <i class="material-icons left">mic</i>
            SUBMIT A PRESENTATION
          </a>
        </div>
      </div>

      <div class="hide-on-med-and-up">
        <div class="row center">
          <a href="/submission/" id="download-button" class="btn-large waves-effect waves-light red darken-2 z-depth-4">
            <i class="material-icons left">mic</i>
            SUBMIT A PRESENTATION
          </a>
        </div>
      </div>

      <div class="row center">
        <h3>&nbsp;</h3>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/background/bg03.jpg"></div>
</div>
{{ end }}
