{{ $data := index $.Site.Data $.Site.Language.Lang }}
{{ with $data.homepage.data.meeting }}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      {{/*  for pc  */}}
      <div class="row center hide-on-med-and-down" style="margin-top: 150px;">
        <img src="/img/logos/qecamp_logo_03.png" class="responsive-img" />
      </div>

      <div class="row center hide-on-med-and-down">
        <h1
          style="text-shadow: 5px 5px 15px black;margin-bottom: 30px"
          class="rhDisplayBlack"
        >
          {{ .start_date }}
        </h1>
        <h4
          style="text-shadow: 5px 5px 15px black; margin-bottom: 50px"
          class="rhDisplayBold"
        >
          {{ .location }}
        </h4>
      </div>

      {{/*  for mobile  */}}
      <div class="row center hide-on-large-only">
        <div class="col s12">
          <h3
            style="text-shadow: 5px 5px 15px black;margin-bottom: 20px"
            class="rhDisplayBold"
          >
            {{ .name }}
          </h3>

          <h5
            style="text-shadow: 5px 5px 15px black;margin-bottom: 20px"
            class="rhDisplayBlack"
          >
            {{ .start_date }}
          </h5>

          <h6
            style="text-shadow: 5px 5px 15px black; margin-bottom: 10px"
            class="rhDisplayBold"
          >
            {{ .location }}
          </h6>
        </div>
      </div>

      {{/*  for pc  */}}
      <div class="hide-on-med-and-down">
        <div class="row center">


          <h4
            style="text-shadow: 5px 5px 15px black; margin-bottom: 10px"
            class="rhDisplayBold"
          >
            {{ .slogan_1 | upper }}
          </h4>
          <h5
            style="text-shadow: 5px 5px 15px black; margin-bottom: 10px"
            class="rhDisplayBold"
          >
            {{ .slogan_2 }}
          </h5>
          <h5
            style="text-shadow: 5px 5px 15px black; margin-bottom: 10px"
            class="rhDisplayBold"
          >
            {{ .slogan_3 }}
          </h5>
        </div>

        {{ if .register_open }}
        <div class="row center">
          <a
            href="{{ .register_url }}"
            target="_blank"
            class="btn-large waves-effect waves-light red darken-2 z-depth-4 rhTextBold"
          >
            <i class="fas fa-sign-in-alt" style="margin-right: 10px"></i>
            {{ .btn_1 }}
          </a>
        </div>
        {{ end }}
      </div>

      {{/*  for mobile  */}}
      <div class="hide-on-large-only">
        <div class="row center">

          <h6
            style="text-shadow: 5px 5px 15px black; margin-bottom: 10px"
            class="rhDisplayBold"
          >
            {{ .slogan_1 }}
          </h6>
          <h6
            style="text-shadow: 5px 5px 15px black; margin-bottom: 10px"
            class="rhDisplayBold"
          >
            {{ .slogan_2 }}
          </h6>
          <h6
            style="text-shadow: 5px 5px 15px black; margin-bottom: 10px"
            class="rhDisplayBold"
          >
            {{ .slogan_3 }}
          </h6>
        </div>

        {{ if .register_open }}
        <div class="row center">
          <a
            href="{{ .register_url }}"
            target="_blank"
            class="btn waves-effect waves-light red darken-2 z-depth-4 rhTextBold"
          >
            <i class="fas fa-sign-in-alt" style="margin-right: 10px"></i>
            {{ .btn_1 }}
          </a>
        </div>
        {{ end }}
      </div>

      <div class="row center">
        <h3>&nbsp;</h3>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/background/bg05.jpg" /></div>
</div>
{{ end }}
