{{ $data := index $.Site.Data $.Site.Language.Lang }}
{{ with $data.homepage.data.summary }}
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">live_help</i></h2>
          <h5 class="center rhDisplayBlack">{{ .intro_q }}</h5>
          <div class="rhTextBold" style="text-align: justify;">
            {{ .intro_a }}
          </div>
          <button class="red white-text" id="summary_more">more...</button>
          <br>
          <div class="rhTextBold" style="text-align: justify; display:none" id="summary_intro">
            {{ .intro_a_full | safeHTML }}
          </div>

        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>

          <div class="row">
            <div class="col m12 s6">
              <h1 class="center" style="margin: 0px">{{ .participants }}</h1>
              <p class="center rhTextBold" style="margin: 0px">{{ i18n "participants" }}</p>
            </div>
            <div class="col m12 s6 hide-on-med-and-down">
              <h1></h1>
            </div>
            <div class="col m12 s6">
              <h1 class="center" style="margin: 0px">{{ .sessions }}</h1>
              <p class="center rhTextBold" style="margin: 0px">{{ i18n "sessions" }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">date_range</i></h2>
          <div class="row">
            <div class="col m12 s6">
              <h1 class="center" style="margin: 0px">{{ .days }}</h1>
              <p class="center rhTextBold" style="margin: 0px">{{ i18n "days" }}</p>
            </div>
            <div class="col m12 s6 hide-on-med-and-down">
              <h1></h1>
            </div>
            <div class="col m12 s6">
              <h1 class="center" style="margin: 0px">{{ .tracks }}</h1>
              <p class="center rhTextBold" style="margin: 0px">
                <a class="waves-effect waves-light btn-small red z-depth-4 modal-trigger" href="#tracks_modal">
                  {{ i18n "tracks" }}
                </a>
              </p>
              {{ partial "tracks_modal" .track }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
