{{ $data := index $.Site.Data $.Site.Language.Lang }}
{{ with $data.homepage.data }}
<div class="parallax-container valign-wrapper hide-on-med-and-down">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header col s12 rhDisplayBlack" style="text-shadow: 5px 5px 15px black">
          {{ .video.intro }}
        </h1>
        <video class="responsive-video" controls width="80%">
          <source src="{{ .video.url }}" type="video/mp4">
        </video>

        {{ partial "blank" . }}
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/background/bg02.png"></div>
</div>

<div class="parallax-container valign-wrapper hide-on-large-only">
  <div class="container">
    <div class="row center">
      <h5 class="rhDisplayBlack" style="text-shadow: 5px 5px 15px black; margin-bottom: 10px">{{ .video.intro }}</h5>
    </div>
    <div class="row">
      <video class="responsive-video" controls>
        <source src="{{ .video.url }}" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="parallax"><img src="/img/background/bg02.png"></div>
</div>
{{ end }}
