{{ with $.Site.Data.homepage.data.subs }}
<div class="section red darken-3">
  <div class="row container center">
    <h3 class="header white-text hide-on-med-and-down">Get notified about the important updates</h3>
    <h4 class="header white-text hide-on-med-and-up">Get notified about the important updates</h4>
  </div>
  <div class="row center">
    {{ range . }}
    <a href="{{ .url }}" class="btn-large waves-effect waves-light red darken-2 z-depth-4">
      <i class="{{ .icon }}"></i>&nbsp;
      {{ .name }}
    </a>
    &nbsp;&nbsp;&nbsp;
    {{ end }}
  </div>
  <h4>&nbsp;</h4>
</div>
{{ end }}
