<div class="section red darken-3">
  <div class="row container center">
    <h3 class="header white-text">Get notified about the important updates</h3>
  </div>
  <div class="row center">
    <a href="" class="btn-large waves-effect waves-light red darken-2 z-depth-4">
      <i class="fab fa-twitter"></i>&nbsp;
      Twitter
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="" class="btn-large waves-effect waves-light red darken-2 z-depth-4">
      <i class="fab fa-weibo"></i>&nbsp;
      Weibo
    </a>

    &nbsp;&nbsp;&nbsp;
    <a href="" class="btn-large waves-effect waves-light red darken-2 z-depth-4">
      <i class="fab fa-telegram"></i>&nbsp;
      Telegram
    </a>

  </div>
  <h4>&nbsp;</h4>
</div>
