<div class="parallax-container valign-wrapper">
  <div class="section">

    <div class="card red darken-3 right" style="width: 400px;margin-right:30px">
      <div class="card-content white-text">
        <span class="card-title">
          <strong>The Venue</strong>
        </span>
        <h5>{{ .Site.Params.venue.name }}</h5>

        <p>{{ .Site.Params.venue.address }}</p>

        <a class="btn-floating btn-large waves-effect waves-light red right" style="margin-bottom: 10px">
          <i class="fas fa-map-marked"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/background/bg04.png" alt="Unsplashed background img 2"></div>
</div>
