{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.homepage.data.ticket }}
<div class="section white ">
  <div class="row container center">
    <h2 class="header rhDisplayBlack">{{ .name }}</h2>
    <a href="{{ .url }}" class="btn-large waves-effect waves-light red darken-2 z-depth-4" target="_blank">
      <i class="material-icons left">money</i>
      {{ .action }}
    </a>
  </div>

  {{ partial "blank" . }}

  <div class="row container center hide-on-med-and-down">
    <div class="col l2 offset-l3"></div>
    {{ range .tickets }}
    <div class="col l2">
      {{ partial "ticket" . }}
    </div>
    {{ end }}
  </div>

  <div class="row center container hide-on-large-only">
    {{ range .tickets }}
    <div class="col s12">
      {{ partial "ticket" . }}
    </div>
    {{ end }}
  </div>


</div>
{{ end }}
