{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.homepage.data.tickets }}
<div class="section white ">
  <div class="row container center">
    <h2 class="header rhDisplayBlack">Tickets</h2>
    <a href="" class="btn-large waves-effect waves-light red darken-2 z-depth-4">
      <i class="material-icons left">money</i>
      BUY
    </a>
  </div>

  {{ partial "blank" . }}

  <div class="row container hide-on-med-and-down">
    <div class="col l2 offset-l1"></div>
    {{ range . }}
    <div class="col l2">
      {{ partial "ticket" . }}
    </div>
    {{ end }}
  </div>

  <div class="row container hide-on-large-only">
    {{ range . }}
    <div class="col m4 s6">
      {{ partial "ticket" . }}
    </div>
    {{ end }}
  </div>


</div>
{{ end }}
