{{ define "main" }}
{{ $data := index $.Site.Data $.Site.Language.Lang }}
{{ with $data.schedule.data.schedule }}
<div class="container">
  {{ if .released }}
  <table class="centered">
    <thead>
      <tr>
        <th colspan="5">
          <h4>{{ .day1.date }}</h4>
        </th>
      </tr>
      <tr>
        {{ range .tracks }}
        <th>{{ . }}</th>
        {{ end }}
      </tr>
    </thead>
  </table>

  <table class="centered">
    <thead>
      <tr>
        <th colspan="5">
          <h4>{{ .day2.date }}</h4>
        </th>
      </tr>
      <tr>
        {{ range .tracks }}
        <th>{{ . }}</th>
        {{ end }}
      </tr>
    </thead>
  </table>
  {{ else }}
  <br>
  {{ partial "counter_card" . }}
  {{ end }}
</div>

{{ partial "counter" . }}

{{ end }}
{{ end }}
