<div class="navbar-fixed">
  <nav class="red darken-4 ">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i
            class="material-icons white-text">menu</i></a>

        <a href="/" class="brand-logo center hide-on-large-only">
          <img src="/img/logos/logo.svg" height="24px" style="margin: 18px;">
        </a>
        <a href="/"><img src="/img/logos/logo.svg" height="44px" style="margin: 10px;" class="hide-on-med-and-down"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{- $currentPage := . -}}
          {{ range .Site.Menus.main }}
          <li class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
            <a href="{{ .URL }}" class="rhTextBold">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ if eq .Site.Language.Lang "en" }}
          <li><a href="/cn" style="font-size: 1.5em">🇨🇳</a></li>
          {{ else }}
          <li><a href="/" style="font-size: 1.5em">🇺🇸</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-sidenav">
  {{ range .Site.Menus.main }}
  <li>
    <a href="{{ .URL }}">{{ .Name }}</a>
  </li>
  {{ end }}
  {{ if eq .Site.Language.Lang "en" }}
  <li><a href="/cn">中文</a></li>
  {{ else }}
  <li><a href="/">English</a></li>
  {{ end }}
</ul>
