<div class="col s12 offset-m2 l6 offset-l3 hide-on-med-and-down">
  <div class="card-panel red darken-3 white-text z-depth-3 center">
    <h4 class="rhDisplayBlack" style="margin-top: 0px;margin-bottom: 0px">
      Open TestConf &nbsp;&nbsp;Speakers List
    </h4>
  </div>
</div>


<div class="col s12 offset-m2 l6 offset-l3 hide-on-large-only">
  <div class="card-panel red darken-3 white-text z-depth-3 center">
    <h6 class="rhDisplayBlack" style="margin-top: 0px;margin-bottom: 0px">
      Open TestConf &nbsp;&nbsp;Speakers List
    </h6>
  </div>
</div>
