<a href="#weixin_qrcode" class="btn-large waves-effect waves-light red darken-2 z-depth-4 modal-trigger">
  <i class="{{ .icon }}"></i>&nbsp;
  {{ .name }}
</a>
&nbsp;&nbsp;&nbsp;
<div id="weixin_qrcode" class="modal card red darken-3">
  <div class="modal-content">

    <div class="row">

      <div class="col l3 offset-l3 s12">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src="/img/subs/weixin.bmp">
          </div>
          <div class="card-content">
            <h6 class="rhDisplayBold">红帽软件中国公众号</h6>
          </div>
        </div>
      </div>

      <div class="col l3 s12">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src="/img/subs/wx.jpg">
          </div>
          <div class="card-content">
            <h6 class="rhDisplayBold">红帽软件北京研发中心</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
