<div id="tracks_modal" class="modal bottom-sheet" style="max-height: 70%;">

  <div class="modal-content">
    <div class="row">
      {{ range . }}
      <div class="col l4 s12 center">
        <h6 class="rhDisplayBold">{{ .name | upper }}</h6>

        <br>

        <ul class="collapsible popout">
          {{ range .data }}
          {{/*  <li style="list-style-type: square">{{ . }}</li> */}}
          <li>
            <div class="collapsible-header">

              <i class="far fa-hand-point-right"></i>{{- .name | upper -}}

            </div>
            <div class="collapsible-body left-align">
              <ul>
                {{ range .intro }}
                <li style="list-style-type: square;">{{ . }}</li>
                {{ end }}
              </ul>
            </div>
          </li>


          {{ end }}
        </ul>

      </div>
      {{ end }}
    </div>
  </div>

</div>
