<div id="tracks_modal" class="modal bottom-sheet" style="max-height: 70%;">

  <div class="modal-content">
    <div class="row">
      {{ range first 4 . }}
      <div class="col l3 s12 center">
        <h5 class="rhDisplayBold">{{ .name | upper }}</h5>
        <br>
        <div class="card-panel z-depth-2 rhTextBold" style="text-align: justify;">
          {{ .intro }}
        </div>
      </div>
      {{ end }}
    </div>

    <div class="divider"></div>
    <br>

    <div class="row">
      {{ range last 1 . }}
      <div class="col l3 s12 center">
        <h5 class="rhDisplayBold">{{ .name | upper }}</h5>
        <br>
        <div class="card-panel z-depth-2 rhTextBold" style="text-align: justify;">
          {{ .intro }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>

</div>
