{{ define "main" }}

<div class="container">
  {{ partial "blank" . }}

  {{ range .Pages }}
  <div class="card horizontal z-depth-3">
    <div class="card-image">
      <img src="/img/background/update-list.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <a href="{{.RelPermalink}}" style="color: black">
          <h3 class="rhDisplayBlack">{{ .Title | upper }}</h3>
        </a>
        <pre>{{ .Date.Format "2006-01-02" }}</pre>
      </div>
    </div>
  </div>

  {{ end }}

  {{ partial "blank" . }}
</div>
{{ end }}
