{{ define "main" }}

<div class="container">
  {{ partial "blank" . }}

  {{ range .Pages }}
  {{/*  for big screen  */}}
  <div class="hide-on-med-and-down">
    <div class="card horizontal z-depth-3">
      <div class="card-image">
        {{ partial "update_side" . }}
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <a href="{{.RelPermalink}}" style="color: black">
            <h3 class="rhDisplayBlack" style="margin-top: 0.1rem">{{ .Title | upper }}</h3>
          </a>
          <blockquote>{{ .Summary }}</blockquote>
          <a class="waves-effect waves-light btn-small red white-text darken-2"
            href="{{.RelPermalink}}">{{ i18n "read_more" }}</a>
        </div>
      </div>
    </div>
  </div>

  {{/*  for mobile  */}}
  <div class="hide-on-large-only">
    <div class="card horizontal z-depth-3">
      <div class="card-stacked">
        <div class="card-content">
          <a href="{{.RelPermalink}}" style="color: black">
            <h6 class="rhDisplayBlack" style="margin-top: 0.1rem">{{ .Title | upper }}</h6>
          </a>
          <pre>{{ .Date.Format "2006-01-02" }}</pre>
          <a class="waves-effect waves-light btn-small red white-text darken-2"
            href="{{.RelPermalink}}">{{ i18n "read_more" }}</a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ partial "blank" . }}
</div>
{{ end }}
